# Fetching Pre and Post synaptic Neuron Location

## Libraries

In [12]:
! pip install standard-transform
! pip install --upgrade caveclient

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: standard-transform in /home/vscode/.local/lib/python3.9/site-packages (1.4.0)
Requirement already satisfied: scipy in /home/vscode/.local/lib/python3.9/site-packages (from standard-transform) (1.10.1)
Requirement already satisfied: numpy in /home/vscode/.local/lib/python3.9/site-packages (from standard-transform) (1.24.3)
Requirement already satisfied: pandas in /home/vscode/.local/lib/python3.9/site-packages (from standard-transform) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.9/site-packages (from pandas->standard-transform) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.9/site-packages (from pandas->standard-transform) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/site-packages (from pandas->standard-transform) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas->standard-transform) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: caveclient in /home/vscode/.local/lib/python3.9/site-packages (5.14.0)
Requirement already satisfied: pandas in /home/vscode/.local/lib/python3.9/site-packages (from caveclient) (2.0.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.9/site-packages (from caveclient) (2.0.3)
Requirement already satisfied: numpy in /home/vscode/.local/lib/python3.9/site-packages (from caveclient) (1.24.3)
Requirement already satisfied: ipython in /usr/local/lib/python3.9/site-packages (from caveclient) (8.14.0)
Requirement already satisfied: jsonschema in /usr/local/lib/python3.9/site-packages (from caveclient) (4.18.0)
Requirement already satisfied: attrs>=21.3.0 in /usr/local/lib/python3.9/site-packages (from caveclient) (23.1.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/site-packages (from caveclient) (2.31.0)
Requirement already satisfied: cachetools>=4 in /usr/local/lib/python3.9/site-packages (from caveclient) (5.3.1)
Requirement already satisfied: pyarrow<12,>=3 in /usr/local/lib/python3.9/site-packages (from caveclient) (11.0.0)
Requirement already satisfied: networkx in /usr/local/lib/python3.9/site-packages (from caveclient) (3.1)
Requirement already satisfied: pygments>=2.4.0 in /usr/local/lib/python3.9/site-packages (from ipython->caveclient) (2.15.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.9/site-packages (from ipython->caveclient) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.9/site-packages (from ipython->caveclient) (5.1.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.9/site-packages (from ipython->caveclient) (0.7.5)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.9/site-packages (from ipython->caveclient) (0.1.6)
Requirement already satisfied: backcall in /usr/local/lib/python3.9/site-packages (from ipython->caveclient) (0.2.0)
Requirement already satisfied: stack-data in /usr/local/lib/python3.9/site-packages (from ipython->caveclient) (0.6.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.9/site-packages (from ipython->caveclient) (4.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /usr/local/lib/python3.9/site-packages (from ipython->caveclient) (3.0.39)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.9/site-packages (from ipython->caveclient) (0.18.2)
Requirement already satisfied: traitlets>=5 in /usr/local/lib/python3.9/site-packages (from ipython->caveclient) (5.9.0)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.9/site-packages (from jsonschema->caveclient) (0.8.8)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.9/site-packages (from jsonschema->caveclient) (2023.6.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.9/site-packages (from jsonschema->caveclient) (0.29.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.9/site-packages (from pandas->caveclient) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/site-packages (from pandas->caveclient) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.9/site-packages (from pandas->caveclient) (2023.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/site-packages (from requests->caveclient) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.9/site-packages (from requests->caveclient) (3.2.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/site-packages (from requests->caveclient) (2023.5.7)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.9/site-packages (from jedi>=0.16->ipython->caveclient) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.9/site-packages (from pexpect>4.3->ipython->caveclient) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.9/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython->caveclient) (0.2.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas->caveclient) (1.16.0)
Requirement already satisfied: executing>=1.2.0 in /usr/local/lib/python3.9/site-packages (from stack-data->ipython->caveclient) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /usr/local/lib/python3.9/site-packages (from stack-data->ipython->caveclient) (2.2.1)
Requirement already satisfied: pure-eval in /usr/local/lib/python3.9/site-packages (from stack-data->ipython->caveclient) (0.2.2)

[notice] A new release of pip is available: 23.0.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip

In [13]:
import numpy as np
import pandas as pd
from caveclient import CAVEclient
from microns_phase3 import nda
from standard_transform import minnie_transform_vx

## Preparation

Function that transforms the voxel coorindate into a depth coordinate (function given to us by the authors of the Microns Project)

In [14]:
tform_vx = minnie_transform_vx()

### Querying the data from CAVEclient

In [15]:
client = CAVEclient()

In [16]:
# client.auth.save_token("64ea0271652fd86dc7fb6376cd9d52b9")

We will be using the latest public release of the dataset, i.e. version 661

In [17]:
client = CAVEclient('minnie65_public')

In [18]:
client.materialize.version = 661

In [19]:
client.materialize.get_tables()

['synapses_pni_2',
 'baylor_gnn_cell_type_fine_model_v2',
 'nucleus_alternative_points',
 'connectivity_groups_v507',
 'proofreading_status_public_release',
 'allen_column_mtypes_v1',
 'allen_v1_column_types_slanted_ref',
 'aibs_column_nonneuronal_ref',
 'nucleus_ref_neuron_svm',
 'aibs_soma_nuc_exc_mtype_preds_v117',
 'baylor_log_reg_cell_type_coarse_v1',
 'apl_functional_coreg_forward_v5',
 'nucleus_detection_v0',
 'aibs_soma_nuc_metamodel_preds_v117',
 'coregistration_manual_v3']

These are all the available tables, but we are interested in the *coregistration_manual_v3*, that is the one containing the information about the manually proofread neurons and in the *synapses_pni_2*, which contains all the traced synapses.

In [20]:
df = client.materialize.query_table('coregistration_manual_v3')

In [21]:
df.sample(1)

,id_ref,created_ref,valid_ref,volume,pt_supervoxel_id,pt_root_id,id,created,valid,target_id,session,scan_idx,unit_id,field,residual,score,pt_position,bb_start_position,bb_end_position
3918,296948,2020-09-28 22:41:02.816764+00:00,t,257.761608,91702706737145792,864691135749446441,1286,2023-04-05 22:36:19.315856+00:00,t,296948,5,6,4687,4,2.84518,9.59329,"[196096, 152096, 22624]","[nan, nan, nan]","[nan, nan, nan]"

In [22]:
prova = client.materialize.synapse_query(pre_ids=864691135065708612)
prova

,id,created,superceded_id,valid,size,pre_pt_supervoxel_id,pre_pt_root_id,post_pt_supervoxel_id,post_pt_root_id,pre_pt_position,post_pt_position,ctr_pt_position
0,158642199,2020-11-04 07:03:22.546382+00:00,NaN,t,452,89446645443883898,864691135065708612,89446645443879844,864691135383426010,"[179472, 120126, 16330]","[179398, 120072, 16318]","[179542, 120110, 16322]"
1,166843237,2020-11-04 08:05:56.606632+00:00,NaN,t,2804,89799588609196839,864691135065708612,89799588609195662,864691133285134509,"[181904, 128450, 15766]","[181916, 128440, 15763]","[181904, 128458, 15762]"
2,166842939,2020-11-04 08:22:59.418579+00:00,NaN,t,4472,89729288584455658,864691135065708612,89729288584464171,864691136331551895,"[181418, 128786, 15729]","[181492, 128816, 15734]","[181458, 128782, 15732]"
3,151689844,2020-11-04 10:37:21.552551+00:00,NaN,t,2604,88815800513018245,864691135065708612,88815800513032448,864691135397431329,"[174650, 138778, 15135]","[174696, 138892, 15145]","[174682, 138817, 15141]"
4,157575260,2020-11-04 11:41:36.410788+00:00,NaN,t,4640,89236776027170073,864691135065708612,89236776027161311,864691133859452302,"[177878, 129300, 14861]","[177890, 129320, 14855]","[177954, 129286, 14854]"
7,151689840,2020-11-04 13:32:05.464555+00:00,NaN,t,160,88815800513018169,864691135065708612,88815800513011153,864691135939272705,"[174640, 138742, 15134]","[174690, 138768, 15127]","[174650, 138750, 15131]"
8,151430177,2020-11-04 14:43:11.718447+00:00,NaN,t,208,88885413342955936,864691135065708612,88885413342941345,864691136137600381,"[175334, 133178, 15185]","[175316, 133208, 15172]","[175352, 133150, 15178]"

In [23]:
df

,id_ref,created_ref,valid_ref,volume,pt_supervoxel_id,pt_root_id,id,created,valid,target_id,session,scan_idx,unit_id,field,residual,score,pt_position,bb_start_position,bb_end_position
0,582276,2020-09-28 22:41:42.536121+00:00,t,274.291589,111332012547320963,864691135738685297,13434,2023-04-05 22:39:53.474202+00:00,t,582276,7,5,4909,4,6.10722,9.568690,"[338720, 125232, 19589]","[nan, nan, nan]","[nan, nan, nan]"
1,194144,2020-09-28 22:42:01.511773+00:00,t,213.307228,83542405709639148,864691135614842827,3045,2023-04-05 22:39:03.110911+00:00,t,194144,7,4,9575,6,8.55708,-0.714900,"[136400, 170640, 17951]","[nan, nan, nan]","[nan, nan, nan]"
2,293318,2020-09-28 22:45:23.572432+00:00,t,430.108180,90783515419343652,864691135502985397,1474,2023-04-05 22:36:19.477499+00:00,t,293318,9,4,8066,6,5.63758,8.915025,"[189472, 119296, 26037]","[nan, nan, nan]","[nan, nan, nan]"
3,332833,2020-09-28 22:44:41.864456+00:00,t,274.418729,93535317407139914,864691135387371905,7915,2023-04-05 22:39:15.451639+00:00,t,332833,6,7,6413,6,5.27806,7.808064,"[209328, 174304, 20004]","[nan, nan, nan]","[nan, nan, nan]"
4,295460,2020-09-28 22:41:24.368712+00:00,t,208.616653,90225718084406516,864691135661410544,11589,2023-04-05 22:39:47.420305+00:00,t,295460,9,3,7748,6,5.20837,2.999543,"[185088, 157776, 15691]","[nan, nan, nan]","[nan, nan, nan]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13920,293075,2020-09-28 22:41:16.438872+00:00,t,287.333417,91487065153289270,864691136144304948,2323,2023-04-05 22:39:00.197594+00:00,t,293075,9,4,4693,4,3.21152,6.692787,"[194528, 118128, 23566]","[nan, nan, nan]","[nan, nan, nan]"
13921,293075,2020-09-28 22:41:16.438872+00:00,t,287.333417,91487065153289270,864691136144304948,10023,2023-04-05 22:39:40.658776+00:00,t,293075,9,4,7533,6,10.42720,-0.232141,"[194528, 118128, 23566]","[nan, nan, nan]","[nan, nan, nan]"
13922,395416,2020-09-28 22:44:46.280352+00:00,t,282.205061,97825062761246370,864691135394864117,2840,2023-04-05 22:39:00.636805+00:00,t,395416,9,3,2456,2,4.95407,3.168314,"[240528, 154032, 25770]","[nan, nan, nan]","[nan, nan, nan]"
13923,395416,2020-09-28 22:44:46.280352+00:00,t,282.205061,97825062761246370,864691135394864117,4554,2023-04-05 22:39:07.141941+00:00,t,395416,9,3,4759,4,6.51528,4.102491,"[240528, 154032, 25770]","[nan, nan, nan]","[nan, nan, nan]"
13924,485825,2020-09-28 22:41:48.027148+00:00,t,371.868795,105277895836000216,864691136966674894,11479,2023-04-05 22:39:47.331131+00:00,t,485825,5,6,1538,2,5.26231,9.976701,"[294512, 107648, 23083]","[nan, nan, nan]","[nan, nan, nan]"

We start by setting as the index he ID associated to the root of the synapse

In [24]:
df = df.set_index('pt_root_id')

In [25]:
df.head()

,id_ref,created_ref,valid_ref,volume,pt_supervoxel_id,id,created,valid,target_id,session,scan_idx,unit_id,field,residual,score,pt_position,bb_start_position,bb_end_position
pt_root_id,,,,,,,,,,,,,,,,,,
864691135738685297,582276,2020-09-28 22:41:42.536121+00:00,t,274.291589,111332012547320963,13434,2023-04-05 22:39:53.474202+00:00,t,582276,7,5,4909,4,6.10722,9.568690,"[338720, 125232, 19589]","[nan, nan, nan]","[nan, nan, nan]"
864691135614842827,194144,2020-09-28 22:42:01.511773+00:00,t,213.307228,83542405709639148,3045,2023-04-05 22:39:03.110911+00:00,t,194144,7,4,9575,6,8.55708,-0.714900,"[136400, 170640, 17951]","[nan, nan, nan]","[nan, nan, nan]"
864691135502985397,293318,2020-09-28 22:45:23.572432+00:00,t,430.108180,90783515419343652,1474,2023-04-05 22:36:19.477499+00:00,t,293318,9,4,8066,6,5.63758,8.915025,"[189472, 119296, 26037]","[nan, nan, nan]","[nan, nan, nan]"
864691135387371905,332833,2020-09-28 22:44:41.864456+00:00,t,274.418729,93535317407139914,7915,2023-04-05 22:39:15.451639+00:00,t,332833,6,7,6413,6,5.27806,7.808064,"[209328, 174304, 20004]","[nan, nan, nan]","[nan, nan, nan]"
864691135661410544,295460,2020-09-28 22:41:24.368712+00:00,t,208.616653,90225718084406516,11589,2023-04-05 22:39:47.420305+00:00,t,295460,9,3,7748,6,5.20837,2.999543,"[185088, 157776, 15691]","[nan, nan, nan]","[nan, nan, nan]"

In [26]:
df.shape

(13925, 18)

In [27]:
unit_keys_1 = df.iloc[:5000, :][['session', 'scan_idx', 'unit_id']].to_dict(orient='records')
unit_keys_2 = df.iloc[5000:10000, :][['session', 'scan_idx', 'unit_id']].to_dict(orient='records')
unit_keys_3 = df.iloc[10000:13925, :][['session', 'scan_idx', 'unit_id']].to_dict(orient='records')

In [28]:
temp_1 = (nda.AreaMembership & unit_keys_1).fetch('brain_area')
print('1/3 Completed!')
temp_2 = (nda.AreaMembership & unit_keys_2).fetch('brain_area')
print('2/3 Completed!')
temp_3 = (nda.AreaMembership & unit_keys_3).fetch('brain_area')
print('3/3 Completed!')
area_membership = np.concatenate((temp_1, temp_2, temp_3), axis=0)
assert len(area_membership) == df.shape[0]

1/3 Completed!
2/3 Completed!
3/3 Completed!

In [29]:
df['Area Membership'] = area_membership
df.head()

,id_ref,created_ref,valid_ref,volume,pt_supervoxel_id,id,created,valid,target_id,session,scan_idx,unit_id,field,residual,score,pt_position,bb_start_position,bb_end_position,Area Membership
pt_root_id,,,,,,,,,,,,,,,,,,,
864691135738685297,582276,2020-09-28 22:41:42.536121+00:00,t,274.291589,111332012547320963,13434,2023-04-05 22:39:53.474202+00:00,t,582276,7,5,4909,4,6.10722,9.568690,"[338720, 125232, 19589]","[nan, nan, nan]","[nan, nan, nan]",V1
864691135614842827,194144,2020-09-28 22:42:01.511773+00:00,t,213.307228,83542405709639148,3045,2023-04-05 22:39:03.110911+00:00,t,194144,7,4,9575,6,8.55708,-0.714900,"[136400, 170640, 17951]","[nan, nan, nan]","[nan, nan, nan]",V1
864691135502985397,293318,2020-09-28 22:45:23.572432+00:00,t,430.108180,90783515419343652,1474,2023-04-05 22:36:19.477499+00:00,t,293318,9,4,8066,6,5.63758,8.915025,"[189472, 119296, 26037]","[nan, nan, nan]","[nan, nan, nan]",V1
864691135387371905,332833,2020-09-28 22:44:41.864456+00:00,t,274.418729,93535317407139914,7915,2023-04-05 22:39:15.451639+00:00,t,332833,6,7,6413,6,5.27806,7.808064,"[209328, 174304, 20004]","[nan, nan, nan]","[nan, nan, nan]",V1
864691135661410544,295460,2020-09-28 22:41:24.368712+00:00,t,208.616653,90225718084406516,11589,2023-04-05 22:39:47.420305+00:00,t,295460,9,3,7748,6,5.20837,2.999543,"[185088, 157776, 15691]","[nan, nan, nan]","[nan, nan, nan]",V1

In [30]:
root_ids = df.index.tolist()
len(root_ids)

13925

In [31]:
subset_ids = root_ids[:5000]

In [35]:
i_df = client.materialize.synapse_query(pre_ids=subset_ids[0])
i_df.rename(columns = {'pre_pt_root_id':'pt_root_id'}, inplace = True) 
df_matched = pd.merge(input_df, df, on='pt_root_id', how='inner')
df_matched

,id_x,created_x,superceded_id,valid_x,size,pre_pt_supervoxel_id,pt_root_id,post_pt_supervoxel_id,post_pt_root_id,pre_pt_position,...,session,scan_idx,unit_id,field,residual,score,pt_position,bb_start_position,bb_end_position,Area Membership
0,337759140,2020-11-04 06:48:59.403833+00:00,NaN,t,11288,103884401481539979,864691135738685297,103884401481546525,864691135274118885,"[284392, 210706, 17041]",...,7,5,4909,4,6.10722,9.56869,"[338720, 125232, 19589]","[nan, nan, nan]","[nan, nan, nan]",V1
1,433085938,2020-11-04 08:42:48.669430+00:00,NaN,t,2508,111821776258097112,864691135738685297,111821844977588043,864691135640556515,"[342332, 104560, 19693]",...,7,5,4909,4,6.10722,9.56869,"[338720, 125232, 19589]","[nan, nan, nan]","[nan, nan, nan]",V1
2,473147301,2020-11-04 10:02:21.675203+00:00,NaN,t,1808,115267164596043605,864691135738685297,115337533340130899,864691134160060931,"[367646, 84440, 19411]",...,7,5,4909,4,6.10722,9.56869,"[338720, 125232, 19589]","[nan, nan, nan]","[nan, nan, nan]",V1
3,425956556,2020-11-04 07:08:55.363093+00:00,NaN,t,4144,111332218705626614,864691135738685297,111332218705628413,864691135544397096,"[338550, 126852, 19507]",...,7,5,4909,4,6.10722,9.56869,"[338720, 125232, 19589]","[nan, nan, nan]","[nan, nan, nan]",V1
4,441777672,2020-11-04 07:49:03.063782+00:00,NaN,t,2848,112316831301271158,864691135738685297,112316831301269931,864691134403667044,"[345698, 122922, 19060]",...,7,5,4909,4,6.10722,9.56869,"[338720, 125232, 19589]","[nan, nan, nan]","[nan, nan, nan]",V1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,429337841,2020-11-04 14:26:55.348788+00:00,NaN,t,5624,111338678135102598,864691135738685297,111338678135089918,864691136742192494,"[338706, 174852, 17946]",...,7,5,4909,4,6.10722,9.56869,"[338720, 125232, 19589]","[nan, nan, nan]","[nan, nan, nan]",V1
58,404613658,2020-11-04 14:03:00.391811+00:00,NaN,t,18992,109437622128171529,864691135738685297,109437622128161067,864691135783365683,"[325008, 166868, 15048]",...,7,5,4909,4,6.10722,9.56869,"[338720, 125232, 19589]","[nan, nan, nan]","[nan, nan, nan]",V1
59,444597369,2020-11-04 11:30:15.590908+00:00,NaN,t,756,113016395574563888,864691135738685297,113016395574565822,864691136602038737,"[351162, 92242, 19174]",...,7,5,4909,4,6.10722,9.56869,"[338720, 125232, 19589]","[nan, nan, nan]","[nan, nan, nan]",V1
60,431082590,2020-11-04 10:19:58.443712+00:00,NaN,t,2028,111748040460748965,864691135738685297,111748040460749851,864691135573506348,"[341738, 79274, 21334]",...,7,5,4909,4,6.10722,9.56869,"[338720, 125232, 19589]","[nan, nan, nan]","[nan, nan, nan]",V1
61,441260449,2020-11-04 08:17:21.321816+00:00,NaN,t,2028,112254434352193945,864691135738685297,112254434352178839,864691136007978278,"[345150, 182178, 21851]",...,7,5,4909,4,6.10722,9.56869,"[338720, 125232, 19589]","[nan, nan, nan]","[nan, nan, nan]",V1

In [33]:
input_values = []
output_values = []
v_area = []

for i in subset_ids:
    input_df = client.materialize.synapse_query(pre_ids=i)
    
    input_df.rename(columns = {'pre_pt_root_id':'pt_root_id'}, inplace = True) 
   
    df_matched = pd.merge(input_df, df, on='pt_root_id', how='inner')
    if df_matched.empty:
        continue
        
    #This is the correct depth value that is retrieved by a special function created by the MICrONS team    
    input_vertices_list = tform_vx.apply(df_matched['pt_position'])
    graph_x_stack = np.vstack(input_vertices_list)
    graph_x_values = graph_x_stack[:,1]

    output_vertices = tform_vx.apply(df.at[i,'pt_position'])
    graph_y_value = output_vertices[1]
    if type(graph_y_value) != np.float64:
        continue
    
    num_points = len(graph_x_values)
    input_values.extend(graph_x_values)
    output_values.extend([graph_y_value]*num_points)
    v_area.extend(df_matched['Area Membership'])

KeyboardInterrupt:

In [ ]:
# df_export = pd.DataFrame(list(zip(input_values, output_values, v_area)), columns=['Inputh Depth', 'Output Depth', 'Area Membership'])
# df_export.head()

In [ ]:
# df_export.to_csv('graph_values_16.csv')

In [ ]:
df_list = [pd.read_csv(f"/workspaces/microns_phase3_nda/personal_notebooks/graph_values_{n}.csv") for n in range(1,17)]
complete_df = pd.concat(df_list, ignore_index=True)
complete_df.drop(['Unnamed: 0'], axis=1, inplace=True)
complete_df.head()

   Inputh Depth  Output Depth Area Membership
0    189.550053    220.436358              RL
1    210.758237    220.436358              RL
2    171.736336    220.436358              RL
3    292.821299    220.436358              V1
4    233.734725    220.436358              V1

In [ ]:
complete_df.shape

(292146, 3)

In [ ]:
complete_df.to_csv('all_functional_synapses_with_area_membership.csv')