# Fetching Pre and Post synaptic Neuron Location

## Libraries

In [7]:
# ! pip install standard-transform
# ! pip install --upgrade caveclient

In [8]:
import numpy as np
import pandas as pd
from caveclient import CAVEclient
from microns_phase3 import nda
from standard_transform import minnie_transform_vx

## Preparation

Function that transforms the voxel coorindate into a depth coordinate (function given to us by the authors of the Microns Project)

In [32]:
tform_vx = minnie_transform_vx()

### Querying the data from CAVEclient

In [10]:
client = CAVEclient()

In [11]:
#client.auth.save_token("64ea0271652fd86dc7fb6376cd9d52b9")

We will be using the latest public release of the dataset, i.e. version 661

In [12]:
client = CAVEclient('minnie65_public')

In [13]:
client.materialize.version = 661

In [14]:
client.materialize.get_tables()

['synapses_pni_2',
 'baylor_gnn_cell_type_fine_model_v2',
 'nucleus_alternative_points',
 'connectivity_groups_v507',
 'proofreading_status_public_release',
 'allen_column_mtypes_v1',
 'allen_v1_column_types_slanted_ref',
 'aibs_column_nonneuronal_ref',
 'nucleus_ref_neuron_svm',
 'aibs_soma_nuc_exc_mtype_preds_v117',
 'baylor_log_reg_cell_type_coarse_v1',
 'apl_functional_coreg_forward_v5',
 'nucleus_detection_v0',
 'aibs_soma_nuc_metamodel_preds_v117',
 'coregistration_manual_v3']

These are all the available tables, but we are interested in the *coregistration_manual_v3*, that is the one containing the information about the manually proofread neurons and in the *synapses_pni_2*, which contains all the traced synapses.

In [15]:
df = client.materialize.query_table('coregistration_manual_v3')

We start by setting as the index he ID associated to the root of the synapse

In [16]:
df = df.set_index('pt_root_id')

In [17]:
df.head()

,id,created,valid,target_id,session,scan_idx,unit_id,field,residual,score,id_ref,created_ref,valid_ref,volume,pt_supervoxel_id,pt_position,bb_start_position,bb_end_position
pt_root_id,,,,,,,,,,,,,,,,,,
864691135738685297,13434,2023-04-05 22:39:53.474202+00:00,t,582276,7,5,4909,4,6.10722,9.568690,582276,2020-09-28 22:41:42.536121+00:00,t,274.291589,111332012547320963,"[338720, 125232, 19589]","[nan, nan, nan]","[nan, nan, nan]"
864691135614842827,3045,2023-04-05 22:39:03.110911+00:00,t,194144,7,4,9575,6,8.55708,-0.714900,194144,2020-09-28 22:42:01.511773+00:00,t,213.307228,83542405709639148,"[136400, 170640, 17951]","[nan, nan, nan]","[nan, nan, nan]"
864691135502985397,1474,2023-04-05 22:36:19.477499+00:00,t,293318,9,4,8066,6,5.63758,8.915025,293318,2020-09-28 22:45:23.572432+00:00,t,430.108180,90783515419343652,"[189472, 119296, 26037]","[nan, nan, nan]","[nan, nan, nan]"
864691135387371905,7915,2023-04-05 22:39:15.451639+00:00,t,332833,6,7,6413,6,5.27806,7.808064,332833,2020-09-28 22:44:41.864456+00:00,t,274.418729,93535317407139914,"[209328, 174304, 20004]","[nan, nan, nan]","[nan, nan, nan]"
864691135661410544,11589,2023-04-05 22:39:47.420305+00:00,t,295460,9,3,7748,6,5.20837,2.999543,295460,2020-09-28 22:41:24.368712+00:00,t,208.616653,90225718084406516,"[185088, 157776, 15691]","[nan, nan, nan]","[nan, nan, nan]"

In [18]:
df.shape

(13925, 18)

In [19]:
unit_keys_1 = df.iloc[:5000, :][['session', 'scan_idx', 'unit_id']].to_dict(orient='records')
unit_keys_2 = df.iloc[5000:10000, :][['session', 'scan_idx', 'unit_id']].to_dict(orient='records')
unit_keys_3 = df.iloc[10000:13925, :][['session', 'scan_idx', 'unit_id']].to_dict(orient='records')

In [20]:
temp_1 = (nda.AreaMembership & unit_keys_1).fetch('brain_area')
print('1/3 Completed!')
temp_2 = (nda.AreaMembership & unit_keys_2).fetch('brain_area')
print('2/3 Completed!')
temp_3 = (nda.AreaMembership & unit_keys_3).fetch('brain_area')
print('3/3 Completed!')
area_membership = np.concatenate((temp_1, temp_2, temp_3), axis=0)
assert len(area_membership) == df.shape[0]

1/3 Completed!
2/3 Completed!
3/3 Completed!

In [21]:
df['Area Membership'] = area_membership
df.head()

,id,created,valid,target_id,session,scan_idx,unit_id,field,residual,score,id_ref,created_ref,valid_ref,volume,pt_supervoxel_id,pt_position,bb_start_position,bb_end_position,Area Membership
pt_root_id,,,,,,,,,,,,,,,,,,,
864691135738685297,13434,2023-04-05 22:39:53.474202+00:00,t,582276,7,5,4909,4,6.10722,9.568690,582276,2020-09-28 22:41:42.536121+00:00,t,274.291589,111332012547320963,"[338720, 125232, 19589]","[nan, nan, nan]","[nan, nan, nan]",V1
864691135614842827,3045,2023-04-05 22:39:03.110911+00:00,t,194144,7,4,9575,6,8.55708,-0.714900,194144,2020-09-28 22:42:01.511773+00:00,t,213.307228,83542405709639148,"[136400, 170640, 17951]","[nan, nan, nan]","[nan, nan, nan]",V1
864691135502985397,1474,2023-04-05 22:36:19.477499+00:00,t,293318,9,4,8066,6,5.63758,8.915025,293318,2020-09-28 22:45:23.572432+00:00,t,430.108180,90783515419343652,"[189472, 119296, 26037]","[nan, nan, nan]","[nan, nan, nan]",V1
864691135387371905,7915,2023-04-05 22:39:15.451639+00:00,t,332833,6,7,6413,6,5.27806,7.808064,332833,2020-09-28 22:44:41.864456+00:00,t,274.418729,93535317407139914,"[209328, 174304, 20004]","[nan, nan, nan]","[nan, nan, nan]",V1
864691135661410544,11589,2023-04-05 22:39:47.420305+00:00,t,295460,9,3,7748,6,5.20837,2.999543,295460,2020-09-28 22:41:24.368712+00:00,t,208.616653,90225718084406516,"[185088, 157776, 15691]","[nan, nan, nan]","[nan, nan, nan]",V1

In [22]:
root_ids = df.index.tolist()
len(root_ids)

13925

In [60]:
subset_ids = root_ids[6000:7000]

In [61]:
input_values = []
output_values = []
v_area = []

for i in subset_ids:
    input_df = client.materialize.synapse_query(post_ids=i)
    
    input_df.rename(columns = {'pre_pt_root_id':'pt_root_id'}, inplace = True) 
   
    df_matched = pd.merge(input_df,df,on='pt_root_id',how='inner')
    if df_matched.empty:
        continue
        
    #This is the correct depth value that is retrieved by a special function created by the MICrONS team    
    input_vertices_list = tform_vx.apply(df_matched['pt_position'])
    graph_x_stack = np.vstack(input_vertices_list)
    graph_x_values = graph_x_stack[:,1]

    output_vertices = tform_vx.apply(df.at[i,'pt_position'])
    graph_y_value = output_vertices[1]
    if type(graph_y_value) != np.float64:
        continue
    
    num_points = len(graph_x_values)
    input_values.extend(graph_x_values)
    output_values.extend([graph_y_value]*num_points)
    v_area.extend(df_matched['Area Membership'])

Process 0 concluded
Process 1 concluded
Process 2 concluded
Process 3 concluded
Process 4 concluded
Process 5 concluded
Process 6 concluded
Process 7 concluded
Process 8 concluded
Process 9 concluded
Process 10 concluded
Process 11 concluded
Process 12 concluded
Process 13 concluded
Process 14 concluded
Process 15 concluded
Process 16 concluded
Process 17 concluded
Process 18 concluded
Process 19 concluded
Process 20 concluded
Process 21 concluded
Process 22 concluded
Process 23 concluded
Process 24 concluded
Process 25 concluded
Process 26 concluded
Process 27 concluded
Process 28 concluded
Process 29 concluded
Process 30 concluded
Process 31 concluded
Process 32 concluded
Process 33 concluded
Process 34 concluded
Process 35 concluded
Process 36 concluded
Process 37 concluded
Process 38 concluded
Process 39 concluded
Process 40 concluded
Process 41 concluded
Process 42 concluded
Process 43 concluded
Process 44 concluded
Process 45 concluded
Process 46 concluded
Process 47 concluded
Process 48 concluded
Process 49 concluded
Process 50 concluded
Process 51 concluded
Process 52 concluded
Process 53 concluded
Process 54 concluded
Process 55 concluded
Process 56 concluded
Process 57 concluded
Process 58 concluded
Process 59 concluded
Process 60 concluded
Process 61 concluded
Process 62 concluded
Process 63 concluded
Process 64 concluded
Process 65 concluded
Process 66 concluded
Process 67 concluded
Process 68 concluded
Process 69 concluded
Process 70 concluded
Process 71 concluded
Process 72 concluded
Process 73 concluded
Process 74 concluded
Process 75 concluded
Process 76 concluded
Process 77 concluded
Process 78 concluded
Process 79 concluded
Process 80 concluded
Process 81 concluded
Process 82 concluded
Process 83 concluded
Process 84 concluded
Process 85 concluded
Process 86 concluded
Process 87 concluded
Process 88 concluded
Process 89 concluded
Process 90 concluded
Process 91 concluded
Process 92 concluded
Process 93 concluded
Process 94 concluded
Process 95 concluded
Process 96 concluded
Process 97 concluded
Process 98 concluded
Process 99 concluded
Process 100 concluded
Process 101 concluded
Process 102 concluded
Process 103 concluded
Process 104 concluded
Process 105 concluded
Process 106 concluded
Process 107 concluded
Process 108 concluded
Process 109 concluded
Process 110 concluded
Process 111 concluded
Process 112 concluded
Process 113 concluded
Process 114 concluded
Process 115 concluded
Process 116 concluded
Process 117 concluded
Process 118 concluded
Process 119 concluded
Process 120 concluded
Process 121 concluded
Process 122 concluded
Process 123 concluded
Process 124 concluded
Process 125 concluded
Process 126 concluded
Process 127 concluded
Process 128 concluded
Process 129 concluded
Process 130 concluded
Process 131 concluded
Process 132 concluded
Process 133 concluded
Process 134 concluded
Process 135 concluded
Process 136 concluded
Process 137 concluded
Process 138 concluded
Process 139 concluded
Process 140 concluded
Process 141 concluded
Process 142 concluded
Process 143 concluded
Process 144 concluded
Process 145 concluded
Process 146 concluded
Process 147 concluded
Process 148 concluded
Process 149 concluded
Process 150 concluded
Process 151 concluded
Process 152 concluded
Process 153 concluded
Process 154 concluded
Process 155 concluded
Process 156 concluded
Process 157 concluded
Process 158 concluded
Process 159 concluded
Process 160 concluded
Process 161 concluded
Process 162 concluded
Process 163 concluded
Process 164 concluded
Process 165 concluded
Process 166 concluded
Process 167 concluded
Process 168 concluded
Process 169 concluded
Process 170 concluded
Process 171 concluded
Process 172 concluded
Process 173 concluded
Process 174 concluded
Process 175 concluded
Process 176 concluded
Process 177 concluded
Process 178 concluded
Process 179 concluded
Process 180 concluded
Process 181 concluded
Process 182 concluded
Process 183 concluded
Process 184 concluded
Process 185 concluded
Process 186 concluded
Process 187 concluded
Process 188 concluded
Process 189 concluded
Process 190 concluded
Process 191 concluded
Process 192 concluded
Process 193 concluded
Process 194 concluded
Process 195 concluded
Process 196 concluded
Process 197 concluded
Process 198 concluded
Process 199 concluded
Process 200 concluded
Process 201 concluded
Process 202 concluded
Process 203 concluded
Process 204 concluded
Process 205 concluded
Process 206 concluded
Process 207 concluded
Process 208 concluded
Process 209 concluded
Process 210 concluded
Process 211 concluded
Process 212 concluded
Process 213 concluded
Process 214 concluded
Process 215 concluded
Process 216 concluded
Process 217 concluded
Process 218 concluded
Process 219 concluded
Process 220 concluded
Process 221 concluded
Process 222 concluded
Process 223 concluded
Process 224 concluded
Process 225 concluded
Process 226 concluded
Process 227 concluded
Process 228 concluded
Process 229 concluded
Process 230 concluded
Process 231 concluded
Process 232 concluded
Process 233 concluded
Process 234 concluded
Process 235 concluded
Process 236 concluded
Process 237 concluded
Process 238 concluded
Process 239 concluded
Process 240 concluded
Process 241 concluded
Process 242 concluded
Process 243 concluded
Process 244 concluded
Process 245 concluded
Process 246 concluded
Process 247 concluded
Process 248 concluded
Process 249 concluded
Process 250 concluded
Process 251 concluded
Process 252 concluded
Process 253 concluded
Process 254 concluded
Process 255 concluded
Process 256 concluded
Process 257 concluded
Process 258 concluded
Process 259 concluded
Process 260 concluded
Process 261 concluded
Process 262 concluded
Process 263 concluded
Process 264 concluded
Process 265 concluded
Process 266 concluded
Process 267 concluded
Process 268 concluded
Process 269 concluded
Process 270 concluded
Process 271 concluded
Process 272 concluded
Process 273 concluded
Process 274 concluded
Process 275 concluded
Process 276 concluded
Process 277 concluded
Process 278 concluded
Process 279 concluded
Process 280 concluded
Process 281 concluded
Process 282 concluded
Process 283 concluded
Process 284 concluded
Process 285 concluded
Process 286 concluded
Process 287 concluded
Process 288 concluded
Process 289 concluded
Process 290 concluded
Process 291 concluded
Process 292 concluded
Process 293 concluded
Process 294 concluded
Process 295 concluded
Process 296 concluded
Process 297 concluded
Process 298 concluded
Process 299 concluded
Process 300 concluded
Process 301 concluded
Process 302 concluded
Process 303 concluded
Process 304 concluded
Process 305 concluded
Process 306 concluded
Process 307 concluded
Process 308 concluded
Process 309 concluded
Process 310 concluded
Process 311 concluded
Process 312 concluded
Process 313 concluded
Process 314 concluded
Process 315 concluded
Process 316 concluded
Process 317 concluded
Process 318 concluded
Process 319 concluded
Process 320 concluded
Process 321 concluded
Process 322 concluded
Process 323 concluded
Process 324 concluded
Process 325 concluded
Process 326 concluded
Process 327 concluded
Process 328 concluded
Process 329 concluded
Process 330 concluded
Process 331 concluded
Process 332 concluded
Process 333 concluded
Process 334 concluded
Process 335 concluded
Process 336 concluded
Process 337 concluded
Process 338 concluded
Process 339 concluded
Process 340 concluded
Process 341 concluded
Process 342 concluded
Process 343 concluded
Process 344 concluded
Process 345 concluded
Process 346 concluded
Process 347 concluded
Process 348 concluded
Process 349 concluded
Process 350 concluded
Process 351 concluded
Process 352 concluded
Process 353 concluded
Process 354 concluded
Process 355 concluded
Process 356 concluded
Process 357 concluded
Process 358 concluded
Process 359 concluded
Process 360 concluded
Process 361 concluded
Process 362 concluded
Process 363 concluded
Process 364 concluded
Process 365 concluded
Process 366 concluded
Process 367 concluded
Process 368 concluded
Process 369 concluded
Process 370 concluded
Process 371 concluded
Process 372 concluded
Process 373 concluded
Process 374 concluded
Process 375 concluded
Process 376 concluded
Process 377 concluded
Process 378 concluded
Process 379 concluded
Process 380 concluded
Process 381 concluded
Process 382 concluded
Process 383 concluded
Process 384 concluded
Process 385 concluded
Process 386 concluded
Process 387 concluded
Process 388 concluded
Process 389 concluded
Process 390 concluded
Process 391 concluded
Process 392 concluded
Process 393 concluded
Process 394 concluded
Process 395 concluded
Process 396 concluded
Process 397 concluded
Process 398 concluded
Process 399 concluded
Process 400 concluded
Process 401 concluded
Process 402 concluded
Process 403 concluded
Process 404 concluded
Process 405 concluded
Process 406 concluded
Process 407 concluded
Process 408 concluded
Process 409 concluded
Process 410 concluded
Process 411 concluded
Process 412 concluded
Process 413 concluded
Process 414 concluded
Process 415 concluded
Process 416 concluded
Process 417 concluded
Process 418 concluded
Process 419 concluded
Process 420 concluded
Process 421 concluded
Process 422 concluded
Process 423 concluded
Process 424 concluded
Process 425 concluded
Process 426 concluded
Process 427 concluded
Process 428 concluded
Process 429 concluded
Process 430 concluded
Process 431 concluded
Process 432 concluded
Process 433 concluded
Process 434 concluded
Process 435 concluded
Process 436 concluded
Process 437 concluded
Process 438 concluded
Process 439 concluded
Process 440 concluded
Process 441 concluded
Process 442 concluded
Process 443 concluded
Process 444 concluded
Process 445 concluded
Process 446 concluded
Process 447 concluded
Process 448 concluded
Process 449 concluded
Process 450 concluded
Process 451 concluded
Process 452 concluded
Process 453 concluded
Process 454 concluded
Process 455 concluded
Process 456 concluded
Process 457 concluded
Process 458 concluded
Process 459 concluded
Process 460 concluded
Process 461 concluded
Process 462 concluded
Process 463 concluded
Process 464 concluded
Process 465 concluded
Process 466 concluded
Process 467 concluded
Process 468 concluded
Process 469 concluded
Process 470 concluded
Process 471 concluded
Process 472 concluded
Process 473 concluded
Process 474 concluded
Process 475 concluded
Process 476 concluded
Process 477 concluded
Process 478 concluded
Process 479 concluded
Process 480 concluded
Process 481 concluded
Process 482 concluded
Process 483 concluded
Process 484 concluded
Process 485 concluded
Process 486 concluded
Process 487 concluded
Process 488 concluded
Process 489 concluded
Process 490 concluded
Process 491 concluded
Process 492 concluded
Process 493 concluded
Process 494 concluded
Process 495 concluded
Process 496 concluded
Process 497 concluded
Process 498 concluded
Process 499 concluded
Process 500 concluded
Process 501 concluded
Process 502 concluded
Process 503 concluded
Process 504 concluded
Process 505 concluded
Process 506 concluded
Process 507 concluded
Process 508 concluded
Process 509 concluded
Process 510 concluded
Process 511 concluded
Process 512 concluded
Process 513 concluded
Process 514 concluded
Process 515 concluded
Process 516 concluded
Process 517 concluded
Process 518 concluded
Process 519 concluded
Process 520 concluded
Process 521 concluded
Process 522 concluded
Process 523 concluded
Process 524 concluded
Process 525 concluded
Process 526 concluded
Process 527 concluded
Process 528 concluded
Process 529 concluded
Process 530 concluded
Process 531 concluded
Process 532 concluded
Process 533 concluded
Process 534 concluded
Process 535 concluded
Process 536 concluded
Process 537 concluded
Process 538 concluded
Process 539 concluded
Process 540 concluded
Process 541 concluded
Process 542 concluded
Process 543 concluded
Process 544 concluded
Process 545 concluded
Process 546 concluded
Process 547 concluded
Process 548 concluded
Process 549 concluded
Process 550 concluded
Process 551 concluded
Process 552 concluded
Process 553 concluded
Process 554 concluded
Process 555 concluded
Process 556 concluded
Process 557 concluded
Process 558 concluded
Process 559 concluded
Process 560 concluded
Process 561 concluded
Process 562 concluded
Process 563 concluded
Process 564 concluded
Process 565 concluded
Process 566 concluded
Process 567 concluded
Process 568 concluded
Process 569 concluded
Process 570 concluded
Process 571 concluded
Process 572 concluded
Process 573 concluded
Process 574 concluded
Process 575 concluded
Process 576 concluded
Process 577 concluded
Process 578 concluded
Process 579 concluded
Process 580 concluded
Process 581 concluded
Process 582 concluded
Process 583 concluded
Process 584 concluded
Process 585 concluded
Process 586 concluded
Process 587 concluded
Process 588 concluded
Process 589 concluded
Process 590 concluded
Process 591 concluded
Process 592 concluded
Process 593 concluded
Process 594 concluded
Process 595 concluded
Process 596 concluded
Process 597 concluded
Process 598 concluded
Process 599 concluded
Process 600 concluded
Process 601 concluded
Process 602 concluded
Process 603 concluded
Process 604 concluded
Process 605 concluded
Process 606 concluded
Process 607 concluded
Process 608 concluded
Process 609 concluded
Process 610 concluded
Process 611 concluded
Process 612 concluded
Process 613 concluded
Process 614 concluded
Process 615 concluded
Process 616 concluded
Process 617 concluded
Process 618 concluded
Process 619 concluded
Process 620 concluded
Process 621 concluded
Process 622 concluded
Process 623 concluded
Process 624 concluded
Process 625 concluded
Process 626 concluded
Process 627 concluded
Process 628 concluded
Process 629 concluded
Process 630 concluded
Process 631 concluded
Process 632 concluded
Process 633 concluded
Process 634 concluded
Process 635 concluded
Process 636 concluded
Process 637 concluded
Process 638 concluded
Process 639 concluded
Process 640 concluded
Process 641 concluded
Process 642 concluded
Process 643 concluded
Process 644 concluded
Process 645 concluded
Process 646 concluded
Process 647 concluded
Process 648 concluded
Process 649 concluded
Process 650 concluded
Process 651 concluded
Process 652 concluded
Process 653 concluded
Process 654 concluded
Process 655 concluded
Process 656 concluded
Process 657 concluded
Process 658 concluded
Process 659 concluded
Process 660 concluded
Process 661 concluded
Process 662 concluded
Process 663 concluded
Process 664 concluded

In [62]:
df_export = pd.DataFrame(list(zip(input_values, output_values, v_area)), columns=['Inputh Depth', 'Output Depth', 'Area Membership'])
df_export.head()

   Inputh Depth  Output Depth Area Membership
0    335.722058    366.525244              V1
1    266.470259    366.525244              V1
2    348.934125    366.525244              V1
3    238.680246    366.525244              V1
4    320.878190    366.525244              V1

In [63]:
df_export.to_csv('graph_values_7.csv')